html {
    font-size: 62.5%;
    text-align: justify;
    text-justify: inter-word;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term", Roboto, "Iosevka Term", Arial, "Iosevka Term", sans-serif;
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka Term';
    src: url('/media/fonts/IosevkaTerm-Regular.woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka Term Italic';
    src: url('/media/fonts/IosevkaTerm-Italic.woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka Term Bold';
    src: url('/media/fonts/IosevkaTerm-Bold.woff2');
}


body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 90%;
    margin: 0 auto;
    /* margin: auto; */
    color: #ffffff;
    background-color: #000000;
    /* background: url(loaf.jpg); */
    padding: 13px;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}

@media (min-width: 9001px) {
    /* Its Over 9000!!! */
    body {
        font-size: 9000rem;
        line-height: 1.9;
    }
    img {
        min-width: 9000px;
    }
}
@media (max-width: 9000px) {
    body {
        font-size: 4rem;
        line-height: 1.5;
    }
    img {
        max-width: 1000%;
        min-width: 1000px;

    }
    /*   br.responsive { */
    /* display: none; */
    /* 	} */
}


@media (max-width: 7000px) {
    body {
        font-size: 2rem;
        line-height: 1.5;
    }
    img {
        max-width: 80%;
        min-width: 150px;
    }
    /*  br.responsive { */
    /* display: none; */
    /* 	} */
}


@media (max-width: 1800px) {
    body {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    img {
        max-width: 80%;
        min-width: 120px;
    }
    /*  br.responsive { */
    /* display: none; */
    /* 	} */
}

@media (max-width: 1000px) {
    body {
        font-size: 1.35rem;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        /* min-width: 120px; */
    }
    /*  br.responsive { */
    /* display: none; */
    /* 	} */
}
@media (max-width: 850px) {
    body {
        font-size: 1.35rem;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        /* min-width: 120px; */
    }
    /*   br.responsive { */
    /* display: inline; */
    /* 	} */
}

@media (max-width: 500px) {
    body {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    img {
        max-width: 80%;
        min-width: 120px;
    }
    /*   br.responsive { */
    /* display: inline; */
    /* 	} */

}
@media (max-width: 300px) {
    body {
        font-size: 1rem;
        line-height: 1.7;
    }
    img {
        max-width: 70%;
        min-width: 100px;
    }
    /*   br.responsive { */
    /* display: inline; */
    /* 	} */
}

top, h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term", Roboto, "Iosevka Term", Arial, "Iosevka Term", sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;

}

top {
    line-height: 1.5;
    font-size: 2em;
    text-align: center;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin-top: 0px;
    margin-bottom: 2.5em;
}

small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: #ffffff;
}

a {
    color: #00bcff;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:visited {
    color: #00bcff;
    /* #feacd0; */
}
a:hover {
    text-decoration: underline;
    color: #00bcff;
}

todo TODO {
    text-decoration: none;
    color: #ff00ff;		    
}

ul {
    padding-left: 1em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-bottom: 2.5rem;
    background-color: #1e1e1e;
    border-radius:10px;
    border: 2px solid #989898;
    text-align: justify;
    text-justify: inter-word;
    text-align: left;
    
}

blockquote p {
    margin-bottom: 0;
}

.gototop {
    position: fixed;
    bottom: 1%;
    float: right;
    right: 1%;
    white-space: nowrap;
    background-color: #000; 
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    z-index: 2;
}

/* img:hover { */
/*   opacity: 0.1; */
/* } */
.video-wrapper {
    object-fit: cover;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    
}

img, audio{
    margin-top: 0px;
    margin-bottom: 2.5rem;
    display: inline-block;
    text-align: center;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table,
table thead,
table thead tr,
table thead tr th,
table colgroup,
table > * {
    text-align: justify;
    text-justify: inter-word;
    border-spacing:0;
    border-style: none;
    border-collapse: collapse;
}

table {
    text-align: left;
    /* justify */
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 0em 0em;
    border-bottom: 1px solid #1e1e1e;
}

input, textarea {
    border: 1px solid #ffffff;
}
input:focus, textarea:focus {
    border: 1px solid #ffffff;
}

textarea {
    width: 100%;
}

.button, button, input[type=submit], input[type=reset], input[type=button] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
    outline: #333 solid 1px;
}

.button[disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled] {
    cursor: default;
    opacity: 0.5;
}
.button:hover:enabled, button:hover:enabled, input[type=submit]:hover:enabled, input[type=reset]:hover:enabled, input[type=button]:hover:enabled {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    outline: #333 solid 1px;
}

.button:focus:enabled, button:focus:enabled, input[type=submit]:focus:enabled, input[type=reset]:focus:enabled, input[type=button]:focus:enabled, {
    outline: none;
}

textarea, select, input {
    color: #989898;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

textarea:focus, select:focus, input:focus {
    border: 1px solid #ffffff;
    outline: 0;
}

input[type=checkbox]:focus {
    outline: 1px dotted #ffffff;
}

label, legend, fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.figure-number, .table-number, .section-number {
    display: none;
}

.ol-org {
    list-style-position: inside;
}


