html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term", Roboto, "Iosevka Term", Arial, "Iosevka Term", sans-serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 90%;
    margin: 0 auto;
    /* margin: auto; */
    color: #ffffff;
    background-color: #000000;
    /* background: url(loaf.jpg); */
    padding: 13px;
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka Term';
    src: url('/media/fonts/IosevkaTerm-Regular.woff2') format("woff2");
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka Term Italic';
    src: url('/media/fonts/IosevkaTerm-Italic.woff2') format("woff2");
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka Term Bold';
    src: url('/media/fonts/IosevkaTerm-Bold.woff2') format("woff2");
}

  /* @font-face { */
  /*   font-display: swap; */
  /*   font-family: 'Iosevka Term Bold Italic'; */
  /*   src: url('media/fonts/IosevkaTermSC-BoldItalic.ttf') format("truetype"); */
  /* } */

@media (min-width: 9001px) {
    /* Its Over 9000!!! */
    body {
        font-size: 9000rem;
        line-height: 1.9;
    }
    img {
        min-width: 9000px;
    }
}
@media (max-width: 9000px) {
    body {
        font-size: 4rem;
        line-height: 1.5;
    }
    img {
        max-width: 1000%;
        min-width: 1000px;

    }
    /*   br.responsive { */
    /* display: none; */
    /* 	} */
}


@media (max-width: 7000px) {
    body {
        font-size: 2rem;
        line-height: 1.5;
    }
    img {
        max-width: 80%;
        min-width: 150px;
    }
    /*  br.responsive { */
    /* display: none; */
    /* 	} */
}


@media (max-width: 1800px) {
    body {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    img {
        max-width: 80%;
        min-width: 120px;
    }
    /*  br.responsive { */
    /* display: none; */
    /* 	} */
}

@media (max-width: 1000px) {
    body {
        font-size: 1.35rem;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        /* min-width: 120px; */
    }
    /*  br.responsive { */
    /* display: none; */
    /* 	} */
}
@media (max-width: 850px) {
    body {
        font-size: 1.35rem;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        /* min-width: 120px; */
    }
    /*   br.responsive { */
    /* display: inline; */
    /* 	} */
}

@media (max-width: 500px) {
    body {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    img {
        max-width: 80%;
        min-width: 120px;
    }
    /*   br.responsive { */
    /* display: inline; */
    /* 	} */

}
@media (max-width: 300px) {
    body {
        font-size: 1rem;
        line-height: 1.7;
    }
    img {
        max-width: 70%;
        min-width: 100px;
    }
    /*   br.responsive { */
    /* display: inline; */
    /* 	} */
}

top, h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term", Roboto, "Iosevka Term", Arial, "Iosevka Term", sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

top {
    line-height: 1.5;
    font-size: 2em;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin-top: 0px;
    margin-bottom: 2.5em;
}

small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: #ffffff;
}

a {
    color: #00bcff;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:visited {
    color: #00bcff;
    /* #feacd0; */
}
a:hover {
    text-decoration: underline;
    color: #00bcff;
}

todo TODO {
    text-decoration: none;
    color: #ff00ff;		    
}

ul {
    padding-left: 1em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border: 2px solid #989898;
    margin-bottom: 2.5rem;
    background-color: #1e1e1e;
    border-radius:10px;
}

blockquote p {
    margin-bottom: 0;
}

.gototop {
    position: fixed;
    bottom: 20px;
    float: right;
    right: 20px;
    white-space: nowrap;
    background-color: #000; 
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    z-index: 2;
    font-size: 2em;
}

/* img:hover { */
/*   opacity: 0.1; */
/* } */
.video-wrapper {
    object-fit: cover;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    
}

img, audio{
    margin-top: 0px;
    margin-bottom: 2.5rem;
    display: inline-block;
    text-align: center;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table,
table thead,
table thead tr,
table thead tr th,
table colgroup,
table > * {
    text-align: justify;
    text-justify: inter-word;
    border-spacing:0;
    border-style: none;
    border-collapse: collapse;
}

table {
    text-align: left;
    /* justify */
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 0em 0em;
    border-bottom: 1px solid #1e1e1e;
}

input, textarea {
    border: 1px solid #ffffff;
}
input:focus, textarea:focus {
    border: 1px solid #ffffff;
}

textarea {
    width: 100%;
}

.button, button, input[type=submit], input[type=reset], input[type=button] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
    outline: #333 solid 1px;
}
.button[disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled] {
    cursor: default;
    opacity: 0.5;
}
.button:hover:enabled, button:hover:enabled, input[type=submit]:hover:enabled, input[type=reset]:hover:enabled, input[type=button]:hover:enabled {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    outline: #333 solid 1px;
}

.button:focus:enabled, button:focus:enabled, input[type=submit]:focus:enabled, input[type=reset]:focus:enabled, input[type=button]:focus:enabled, {
    outline: none;
}

textarea, select, input {
    color: #989898;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

textarea:focus, select:focus, input:focus {
    border: 1px solid #ffffff;
    outline: 0;
}

input[type=checkbox]:focus {
    outline: 1px dotted #ffffff;
}

label, legend, fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.figure-number, .table-number, .section-number {
    display: none;
}

.ol-org {
    list-style-position: inside;
}

.org-src-container {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x:scroll;
    overflow-y:hidden;
}

.src{
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term", Roboto, "Iosevka Term", Arial, "Iosevka Term", sans-serif;
}

.org-abbrev-table-name {
    /* abbrev-table-name */
    color: #feacd0;
}
.org-ansi-color-black {
    /* ansi-color-black */
    color: #000000;
    background-color: #000000;
}
.org-ansi-color-blue {
    /* ansi-color-blue */
    color: #2fafff;
    background-color: #2fafff;
}
.org-ansi-color-bold {
    /* ansi-color-bold */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-ansi-color-bright-black {
    /* ansi-color-bright-black */
    color: #595959;
    background-color: #595959;
}
.org-ansi-color-bright-blue {
    /* ansi-color-bright-blue */
    color: #79a8ff;
    background-color: #79a8ff;
}
.org-ansi-color-bright-cyan {
    /* ansi-color-bright-cyan */
    color: #6ae4b9;
    background-color: #6ae4b9;
}
.org-ansi-color-bright-green {
    /* ansi-color-bright-green */
    color: #00c06f;
    background-color: #00c06f;
}
.org-ansi-color-bright-magenta {
    /* ansi-color-bright-magenta */
    color: #b6a0ff;
    background-color: #b6a0ff;
}
.org-ansi-color-bright-red {
    /* ansi-color-bright-red */
    color: #ef8b50;
    background-color: #ef8b50;
}
.org-ansi-color-bright-white {
    /* ansi-color-bright-white */
    color: #ffffff;
    background-color: #ffffff;
}
.org-ansi-color-bright-yellow {
    /* ansi-color-bright-yellow */
    color: #c0c530;
    background-color: #c0c530;
}
.org-ansi-color-cyan {
    /* ansi-color-cyan */
    color: #00d3d0;
    background-color: #00d3d0;
}
.org-ansi-color-green {
    /* ansi-color-green */
    color: #44bc44;
    background-color: #44bc44;
}
.org-ansi-color-italic {
    /* ansi-color-italic */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-ansi-color-magenta {
    /* ansi-color-magenta */
    color: #feacd0;
    background-color: #feacd0;
}
.org-ansi-color-red {
    /* ansi-color-red */
    color: #ff8059;
    background-color: #ff8059;
}
.org-ansi-color-slow-blink {
}
.org-ansi-color-underline {
    /* ansi-color-underline */
    text-decoration: underline;
}
.org-ansi-color-white {
    /* ansi-color-white */
    color: #a6a6a6;
    background-color: #a6a6a6;
}
.org-ansi-color-yellow {
    /* ansi-color-yellow */
    color: #d0bc00;
    background-color: #d0bc00;
}
.org-battery-load-critical {
    /* battery-load-critical */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-battery-load-low {
    /* battery-load-low */
    color: #d0bc00;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-bold {
    /* bold */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-bookmark {
    /* bookmark-face */
    color: #ffffff;
    background-color: #004f8f;
}
.org-bookmark-menu-bookmark {
    /* bookmark-menu-bookmark */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-border {
}
.org-bracket {
}
.org-browse-url-button {
    /* browse-url-button */
    color: #00bcff;
    text-decoration: underline;
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #f78fe7;
}
.org-button {
    /* button */
    color: #00bcff;
    text-decoration: underline;
}
.org-calc-nonselected {
    /* calc-nonselected-face */
    color: #a8a8a8;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-calc-selected {
    /* calc-selected-face */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-calendar-month-header {
    /* calendar-month-header */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-calendar-today {
    /* calendar-today */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
    text-decoration: underline;
}
.org-calendar-weekday-header {
    /* calendar-weekday-header */
    color: #93959b;
}
.org-calendar-weekend-header {
    /* calendar-weekend-header */
    color: #ffa0a0;
}
.org-child-frame-border {
    /* child-frame-border */
    background-color: #646464;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #6ae4b9;
}
.org-comment {
    /* font-lock-comment-face */
    color: #a8a8a8;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #a8a8a8;
}
.org-compilation-column-number {
    /* compilation-column-number */
    color: #f8dec0;
}
.org-compilation-error {
    /* compilation-error */
    color: #ff8059;
}
.org-compilation-info {
    /* compilation-info */
    color: #c6eaff;
}
.org-compilation-line-number {
    /* compilation-line-number */
    color: #f8dec0;
}
.org-compilation-mode-line-exit {
    /* compilation-mode-line-exit */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-compilation-mode-line-fail {
    /* compilation-mode-line-fail */
    color: #ffa7ba;
}
.org-compilation-mode-line-run {
    /* compilation-mode-line-run */
    color: #00d8b4;
}
.org-compilation-warning {
    /* compilation-warning */
    color: #c0c530;
}
.org-completions-annotations {
    /* completions-annotations */
    color: #90c4ed;
}
.org-completions-common-part {
    /* completions-common-part */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-completions-first-difference {
    /* completions-first-difference */
    color: #2fafff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-completions-group-separator {
    /* completions-group-separator */
    color: #a8a8a8;
    text-decoration: line-through;
}
.org-completions-group-title {
    /* completions-group-title */
    color: #a8a8a8;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-completions-highlight {
    /* completions-highlight */
    color: #ffffff;
    background-color: #00415e;
}
.org-confusingly-reordered {
    /* confusingly-reordered */
    text-decoration: underline;
}
.org-constant {
    /* font-lock-constant-face */
    color: #00bcff;
}
.org-consult-async-failed {
    /* consult-async-failed */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-consult-async-finished {
    /* consult-async-finished */
    color: #44bc44;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-consult-async-running {
    /* consult-async-running */
    color: #2fafff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-consult-async-split {
    /* consult-async-split */
    color: #f78fe7;
}
.org-consult-bookmark {
    /* consult-bookmark */
    color: #2fafff;
}
.org-consult-buffer {
}
.org-consult-file {
    /* consult-file */
    color: #c6eaff;
}
.org-consult-grep-context {
    /* consult-grep-context */
    color: #a8a8a8;
}
.org-consult-help {
    /* consult-help */
    color: #a8a8a8;
}
.org-consult-highlight-mark {
    /* consult-highlight-mark */
    color: #fbd6f4;
    background-color: #392a48;
}
.org-consult-highlight-match {
    /* consult-highlight-match */
    color: #fbd6f4;
    background-color: #392a48;
}
.org-consult-key {
    /* consult-key */
    color: #00bcff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-consult-line-number {
    /* consult-line-number */
    color: #f8dec0;
}
.org-consult-line-number-prefix {
    /* consult-line-number-prefix */
    color: #93959b;
}
.org-consult-line-number-wrapped {
    /* consult-line-number-wrapped */
    color: #d0bc00;
}
.org-consult-narrow-indicator {
    /* consult-narrow-indicator */
    color: #f78fe7;
}
.org-consult-preview-insertion {
    /* consult-preview-insertion */
    color: #f8dec0;
    background-color: #382f27;
}
.org-consult-preview-line {
    /* consult-preview-line */
    color: #f8dec0;
    background-color: #382f27;
}
.org-consult-preview-match {
    /* consult-preview-match */
    color: #ffffff;
    background-color: #874900;
}
.org-consult-separator {
    /* consult-separator */
    color: #333;
}
.org-cursor {
    /* cursor */
    background-color: #ffffff;
}
.org-custom-button {
    /* custom-button */
    background-color: #323232;
}
.org-custom-button-pressed {
    /* custom-button-pressed */
    background-color: #323232;
}
.org-custom-button-pressed-unraised {
    /* custom-button-pressed-unraised */
    color: #ee82ee;
    text-decoration: underline;
}
.org-custom-button-unraised {
    /* custom-button-unraised */
    text-decoration: underline;
}
.org-custom-changed {
    /* custom-changed */
    color: #e0e6f0;
    background-color: #00415e;
}
.org-custom-comment {
    /* custom-comment */
    color: #a8a8a8;
}
.org-custom-comment-tag {
    /* custom-comment-tag */
    color: #d3b55f;
    background-color: #191a1b;
}
.org-custom-documentation {
}
.org-custom-face-tag {
    /* custom-face-tag */
    color: #4fafff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-custom-group-subtitle {
    /* custom-group-subtitle */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-custom-group-tag {
    /* custom-group-tag */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-custom-group-tag-1 {
    /* custom-group-tag-1 */
    color: #f8dec0;
    background-color: #382f27;
}
.org-custom-link {
    /* custom-link */
    color: #00bcff;
    text-decoration: underline;
}
.org-custom-modified {
    /* custom-modified */
    color: #e0e6f0;
    background-color: #00415e;
}
.org-custom-rogue {
    /* custom-rogue */
    color: #ffcaf0;
    background-color: #71206a;
}
.org-custom-saved {
    /* custom-saved */
    text-decoration: underline;
}
.org-custom-set {
    /* custom-set */
    color: #79a8ff;
}
.org-custom-state {
    /* custom-state */
    color: #f5aa80;
}
.org-custom-themed {
    /* custom-themed */
    color: #e0e6f0;
    background-color: #10387c;
}
.org-custom-variable-button {
    /* custom-variable-button */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
    text-decoration: underline;
}
.org-custom-variable-obsolete {
    /* custom-variable-obsolete */
    color: #a8a8a8;
}
.org-custom-variable-tag {
    /* custom-variable-tag */
    color: #00d3d0;
}
.org-custom-visibility {
    /* custom-visibility */
    color: #00bcff;
    font-size: 80%;
    text-decoration: underline;
}
.org-default {
    /* default */
    color: #ffffff;
    background-color: #000000;
}
.org-diary {
    /* diary */
    color: #00bcff;
    background-color: #0f0e39;
}
.org-dired-async-failures {
    /* dired-async-failures */
    color: #ffa7ba;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-async-message {
    /* dired-async-message */
    color: #34cfff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-async-mode-message {
    /* dired-async-mode-message */
    color: #00d8b4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-broken-symlink {
    /* dired-broken-symlink */
    color: #ff8059;
    text-decoration: underline;
}
.org-dired-directory {
    /* dired-directory */
    color: #2fafff;
}
.org-dired-flagged {
    /* dired-flagged */
    color: #ff99aa;
    background-color: #5a0000;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-header {
    /* dired-header */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-ignored {
    /* dired-ignored */
    color: #a8a8a8;
}
.org-dired-mark {
    /* dired-mark */
    color: #79a8ff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-marked {
    /* dired-marked */
    color: #60cfa2;
    background-color: #002f2f;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-dired-perm-write {
    /* dired-perm-write */
    color: #f8dec0;
}
.org-dired-set-id {
    /* dired-set-id */
    color: #d0bc00;
}
.org-dired-special {
    /* dired-special */
    color: #00d3d0;
}
.org-dired-symlink {
    /* dired-symlink */
    color: #00d3d0;
    text-decoration: underline;
}
.org-dired-warning {
    /* dired-warning */
    color: #d0bc00;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-doc {
    /* font-lock-doc-face */
    color: #b0d6f5;
}
.org-doc-markup {
    /* font-lock-doc-markup-face */
    color: #00bcff;
}
.org-eat-shell-prompt-annotation-failure {
    /* eat-shell-prompt-annotation-failure */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-eat-shell-prompt-annotation-running {
    /* eat-shell-prompt-annotation-running */
    color: #c6eaff;
}
.org-eat-shell-prompt-annotation-success {
    /* eat-shell-prompt-annotation-success */
    color: #44bc44;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-eat-term-bold {
    /* eat-term-bold */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-eat-term-color-0 {
    /* eat-term-color-0 */
    color: #000000;
    background-color: #000000;
}
.org-eat-term-color-1 {
    /* eat-term-color-1 */
    color: #ff8059;
    background-color: #ff8059;
}
.org-eat-term-color-10 {
    /* eat-term-color-10 */
    color: #00c06f;
    background-color: #00c06f;
}
.org-eat-term-color-100 {
    /* eat-term-color-100 */
    color: #878700;
    background-color: #878700;
}
.org-eat-term-color-101 {
    /* eat-term-color-101 */
    color: #87875F;
    background-color: #87875F;
}
.org-eat-term-color-102 {
    /* eat-term-color-102 */
    color: #878787;
    background-color: #878787;
}
.org-eat-term-color-103 {
    /* eat-term-color-103 */
    color: #8787AF;
    background-color: #8787AF;
}
.org-eat-term-color-104 {
    /* eat-term-color-104 */
    color: #8787D7;
    background-color: #8787D7;
}
.org-eat-term-color-105 {
    /* eat-term-color-105 */
    color: #8787FF;
    background-color: #8787FF;
}
.org-eat-term-color-106 {
    /* eat-term-color-106 */
    color: #87AF00;
    background-color: #87AF00;
}
.org-eat-term-color-107 {
    /* eat-term-color-107 */
    color: #87AF5F;
    background-color: #87AF5F;
}
.org-eat-term-color-108 {
    /* eat-term-color-108 */
    color: #87AF87;
    background-color: #87AF87;
}
.org-eat-term-color-109 {
    /* eat-term-color-109 */
    color: #87AFAF;
    background-color: #87AFAF;
}
.org-eat-term-color-11 {
    /* eat-term-color-11 */
    color: #c0c530;
    background-color: #c0c530;
}
.org-eat-term-color-110 {
    /* eat-term-color-110 */
    color: #87AFD7;
    background-color: #87AFD7;
}
.org-eat-term-color-111 {
    /* eat-term-color-111 */
    color: #87AFFF;
    background-color: #87AFFF;
}
.org-eat-term-color-112 {
    /* eat-term-color-112 */
    color: #87D700;
    background-color: #87D700;
}
.org-eat-term-color-113 {
    /* eat-term-color-113 */
    color: #87D75F;
    background-color: #87D75F;
}
.org-eat-term-color-114 {
    /* eat-term-color-114 */
    color: #87D787;
    background-color: #87D787;
}
.org-eat-term-color-115 {
    /* eat-term-color-115 */
    color: #87D7AF;
    background-color: #87D7AF;
}
.org-eat-term-color-116 {
    /* eat-term-color-116 */
    color: #87D7D7;
    background-color: #87D7D7;
}
.org-eat-term-color-117 {
    /* eat-term-color-117 */
    color: #87D7FF;
    background-color: #87D7FF;
}
.org-eat-term-color-118 {
    /* eat-term-color-118 */
    color: #87FF00;
    background-color: #87FF00;
}
.org-eat-term-color-119 {
    /* eat-term-color-119 */
    color: #87FF5F;
    background-color: #87FF5F;
}
.org-eat-term-color-12 {
    /* eat-term-color-12 */
    color: #79a8ff;
    background-color: #79a8ff;
}
.org-eat-term-color-120 {
    /* eat-term-color-120 */
    color: #87FF87;
    background-color: #87FF87;
}
.org-eat-term-color-121 {
    /* eat-term-color-121 */
    color: #87FFAF;
    background-color: #87FFAF;
}
.org-eat-term-color-122 {
    /* eat-term-color-122 */
    color: #87FFD7;
    background-color: #87FFD7;
}
.org-eat-term-color-123 {
    /* eat-term-color-123 */
    color: #87FFFF;
    background-color: #87FFFF;
}
.org-eat-term-color-124 {
    /* eat-term-color-124 */
    color: #AF0000;
    background-color: #AF0000;
}
.org-eat-term-color-125 {
    /* eat-term-color-125 */
    color: #AF005F;
    background-color: #AF005F;
}
.org-eat-term-color-126 {
    /* eat-term-color-126 */
    color: #AF0087;
    background-color: #AF0087;
}
.org-eat-term-color-127 {
    /* eat-term-color-127 */
    color: #AF00AF;
    background-color: #AF00AF;
}
.org-eat-term-color-128 {
    /* eat-term-color-128 */
    color: #AF00D7;
    background-color: #AF00D7;
}
.org-eat-term-color-129 {
    /* eat-term-color-129 */
    color: #AF00FF;
    background-color: #AF00FF;
}
.org-eat-term-color-13 {
    /* eat-term-color-13 */
    color: #b6a0ff;
    background-color: #b6a0ff;
}
.org-eat-term-color-130 {
    /* eat-term-color-130 */
    color: #AF5F00;
    background-color: #AF5F00;
}
.org-eat-term-color-131 {
    /* eat-term-color-131 */
    color: #AF5F5F;
    background-color: #AF5F5F;
}
.org-eat-term-color-132 {
    /* eat-term-color-132 */
    color: #AF5F87;
    background-color: #AF5F87;
}
.org-eat-term-color-133 {
    /* eat-term-color-133 */
    color: #AF5FAF;
    background-color: #AF5FAF;
}
.org-eat-term-color-134 {
    /* eat-term-color-134 */
    color: #AF5FD7;
    background-color: #AF5FD7;
}
.org-eat-term-color-135 {
    /* eat-term-color-135 */
    color: #AF5FFF;
    background-color: #AF5FFF;
}
.org-eat-term-color-136 {
    /* eat-term-color-136 */
    color: #AF8700;
    background-color: #AF8700;
}
.org-eat-term-color-137 {
    /* eat-term-color-137 */
    color: #AF875F;
    background-color: #AF875F;
}
.org-eat-term-color-138 {
    /* eat-term-color-138 */
    color: #AF8787;
    background-color: #AF8787;
}
.org-eat-term-color-139 {
    /* eat-term-color-139 */
    color: #AF87AF;
    background-color: #AF87AF;
}
.org-eat-term-color-14 {
    /* eat-term-color-14 */
    color: #6ae4b9;
    background-color: #6ae4b9;
}
.org-eat-term-color-140 {
    /* eat-term-color-140 */
    color: #AF87D7;
    background-color: #AF87D7;
}
.org-eat-term-color-141 {
    /* eat-term-color-141 */
    color: #AF87FF;
    background-color: #AF87FF;
}
.org-eat-term-color-142 {
    /* eat-term-color-142 */
    color: #AFAF00;
    background-color: #AFAF00;
}
.org-eat-term-color-143 {
    /* eat-term-color-143 */
    color: #AFAF5F;
    background-color: #AFAF5F;
}
.org-eat-term-color-144 {
    /* eat-term-color-144 */
    color: #AFAF87;
    background-color: #AFAF87;
}
.org-eat-term-color-145 {
    /* eat-term-color-145 */
    color: #AFAFAF;
    background-color: #AFAFAF;
}
.org-eat-term-color-146 {
    /* eat-term-color-146 */
    color: #AFAFD7;
    background-color: #AFAFD7;
}
.org-eat-term-color-147 {
    /* eat-term-color-147 */
    color: #AFAFFF;
    background-color: #AFAFFF;
}
.org-eat-term-color-148 {
    /* eat-term-color-148 */
    color: #AFD700;
    background-color: #AFD700;
}
.org-eat-term-color-149 {
    /* eat-term-color-149 */
    color: #AFD75F;
    background-color: #AFD75F;
}
.org-eat-term-color-15 {
    /* eat-term-color-15 */
    color: #ffffff;
    background-color: #ffffff;
}
.org-eat-term-color-150 {
    /* eat-term-color-150 */
    color: #AFD787;
    background-color: #AFD787;
}
.org-eat-term-color-151 {
    /* eat-term-color-151 */
    color: #AFD7AF;
    background-color: #AFD7AF;
}
.org-eat-term-color-152 {
    /* eat-term-color-152 */
    color: #AFD7D7;
    background-color: #AFD7D7;
}
.org-eat-term-color-153 {
    /* eat-term-color-153 */
    color: #AFD7FF;
    background-color: #AFD7FF;
}
.org-eat-term-color-154 {
    /* eat-term-color-154 */
    color: #AFFF00;
    background-color: #AFFF00;
}
.org-eat-term-color-155 {
    /* eat-term-color-155 */
    color: #AFFF5F;
    background-color: #AFFF5F;
}
.org-eat-term-color-156 {
    /* eat-term-color-156 */
    color: #AFFF87;
    background-color: #AFFF87;
}
.org-eat-term-color-157 {
    /* eat-term-color-157 */
    color: #AFFFAF;
    background-color: #AFFFAF;
}
.org-eat-term-color-158 {
    /* eat-term-color-158 */
    color: #AFFFD7;
    background-color: #AFFFD7;
}
.org-eat-term-color-159 {
    /* eat-term-color-159 */
    color: #AFFFFF;
    background-color: #AFFFFF;
}
.org-eat-term-color-16 {
    /* eat-term-color-16 */
    color: #000000;
    background-color: #000000;
}
.org-eat-term-color-160 {
    /* eat-term-color-160 */
    color: #D70000;
    background-color: #D70000;
}
.org-eat-term-color-161 {
    /* eat-term-color-161 */
    color: #D7005F;
    background-color: #D7005F;
}
.org-eat-term-color-162 {
    /* eat-term-color-162 */
    color: #D70087;
    background-color: #D70087;
}
.org-eat-term-color-163 {
    /* eat-term-color-163 */
    color: #D700AF;
    background-color: #D700AF;
}
.org-eat-term-color-164 {
    /* eat-term-color-164 */
    color: #D700D7;
    background-color: #D700D7;
}
.org-eat-term-color-165 {
    /* eat-term-color-165 */
    color: #D700FF;
    background-color: #D700FF;
}
.org-eat-term-color-166 {
    /* eat-term-color-166 */
    color: #D75F00;
    background-color: #D75F00;
}
.org-eat-term-color-167 {
    /* eat-term-color-167 */
    color: #D75F5F;
    background-color: #D75F5F;
}
.org-eat-term-color-168 {
    /* eat-term-color-168 */
    color: #D75F87;
    background-color: #D75F87;
}
.org-eat-term-color-169 {
    /* eat-term-color-169 */
    color: #D75FAF;
    background-color: #D75FAF;
}
.org-eat-term-color-17 {
    /* eat-term-color-17 */
    color: #00005F;
    background-color: #00005F;
}
.org-eat-term-color-170 {
    /* eat-term-color-170 */
    color: #D75FD7;
    background-color: #D75FD7;
}
.org-eat-term-color-171 {
    /* eat-term-color-171 */
    color: #D75FFF;
    background-color: #D75FFF;
}
.org-eat-term-color-172 {
    /* eat-term-color-172 */
    color: #D78700;
    background-color: #D78700;
}
.org-eat-term-color-173 {
    /* eat-term-color-173 */
    color: #D7875F;
    background-color: #D7875F;
}
.org-eat-term-color-174 {
    /* eat-term-color-174 */
    color: #D78787;
    background-color: #D78787;
}
.org-eat-term-color-175 {
    /* eat-term-color-175 */
    color: #D787AF;
    background-color: #D787AF;
}
.org-eat-term-color-176 {
    /* eat-term-color-176 */
    color: #D787D7;
    background-color: #D787D7;
}
.org-eat-term-color-177 {
    /* eat-term-color-177 */
    color: #D787FF;
    background-color: #D787FF;
}
.org-eat-term-color-178 {
    /* eat-term-color-178 */
    color: #D7AF00;
    background-color: #D7AF00;
}
.org-eat-term-color-179 {
    /* eat-term-color-179 */
    color: #D7AF5F;
    background-color: #D7AF5F;
}
.org-eat-term-color-18 {
    /* eat-term-color-18 */
    color: #000087;
    background-color: #000087;
}
.org-eat-term-color-180 {
    /* eat-term-color-180 */
    color: #D7AF87;
    background-color: #D7AF87;
}
.org-eat-term-color-181 {
    /* eat-term-color-181 */
    color: #D7AFAF;
    background-color: #D7AFAF;
}
.org-eat-term-color-182 {
    /* eat-term-color-182 */
    color: #D7AFD7;
    background-color: #D7AFD7;
}
.org-eat-term-color-183 {
    /* eat-term-color-183 */
    color: #D7AFFF;
    background-color: #D7AFFF;
}
.org-eat-term-color-184 {
    /* eat-term-color-184 */
    color: #D7D700;
    background-color: #D7D700;
}
.org-eat-term-color-185 {
    /* eat-term-color-185 */
    color: #D7D75F;
    background-color: #D7D75F;
}
.org-eat-term-color-186 {
    /* eat-term-color-186 */
    color: #D7D787;
    background-color: #D7D787;
}
.org-eat-term-color-187 {
    /* eat-term-color-187 */
    color: #D7D7AF;
    background-color: #D7D7AF;
}
.org-eat-term-color-188 {
    /* eat-term-color-188 */
    color: #D7D7D7;
    background-color: #D7D7D7;
}
.org-eat-term-color-189 {
    /* eat-term-color-189 */
    color: #D7D7FF;
    background-color: #D7D7FF;
}
.org-eat-term-color-19 {
    /* eat-term-color-19 */
    color: #0000AF;
    background-color: #0000AF;
}
.org-eat-term-color-190 {
    /* eat-term-color-190 */
    color: #D7FF00;
    background-color: #D7FF00;
}
.org-eat-term-color-191 {
    /* eat-term-color-191 */
    color: #D7FF5F;
    background-color: #D7FF5F;
}
.org-eat-term-color-192 {
    /* eat-term-color-192 */
    color: #D7FF87;
    background-color: #D7FF87;
}
.org-eat-term-color-193 {
    /* eat-term-color-193 */
    color: #D7FFAF;
    background-color: #D7FFAF;
}
.org-eat-term-color-194 {
    /* eat-term-color-194 */
    color: #D7FFD7;
    background-color: #D7FFD7;
}
.org-eat-term-color-195 {
    /* eat-term-color-195 */
    color: #D7FFFF;
    background-color: #D7FFFF;
}
.org-eat-term-color-196 {
    /* eat-term-color-196 */
    color: #FF0000;
    background-color: #FF0000;
}
.org-eat-term-color-197 {
    /* eat-term-color-197 */
    color: #FF005F;
    background-color: #FF005F;
}
.org-eat-term-color-198 {
    /* eat-term-color-198 */
    color: #FF0087;
    background-color: #FF0087;
}
.org-eat-term-color-199 {
    /* eat-term-color-199 */
    color: #FF00AF;
    background-color: #FF00AF;
}
.org-eat-term-color-2 {
    /* eat-term-color-2 */
    color: #44bc44;
    background-color: #44bc44;
}
.org-eat-term-color-20 {
    /* eat-term-color-20 */
    color: #0000D7;
    background-color: #0000D7;
}
.org-eat-term-color-200 {
    /* eat-term-color-200 */
    color: #FF00D7;
    background-color: #FF00D7;
}
.org-eat-term-color-201 {
    /* eat-term-color-201 */
    color: #FF00FF;
    background-color: #FF00FF;
}
.org-eat-term-color-202 {
    /* eat-term-color-202 */
    color: #FF5F00;
    background-color: #FF5F00;
}
.org-eat-term-color-203 {
    /* eat-term-color-203 */
    color: #FF5F5F;
    background-color: #FF5F5F;
}
.org-eat-term-color-204 {
    /* eat-term-color-204 */
    color: #FF5F87;
    background-color: #FF5F87;
}
.org-eat-term-color-205 {
    /* eat-term-color-205 */
    color: #FF5FAF;
    background-color: #FF5FAF;
}
.org-eat-term-color-206 {
    /* eat-term-color-206 */
    color: #FF5FD7;
    background-color: #FF5FD7;
}
.org-eat-term-color-207 {
    /* eat-term-color-207 */
    color: #FF5FFF;
    background-color: #FF5FFF;
}
.org-eat-term-color-208 {
    /* eat-term-color-208 */
    color: #FF8700;
    background-color: #FF8700;
}
.org-eat-term-color-209 {
    /* eat-term-color-209 */
    color: #FF875F;
    background-color: #FF875F;
}
.org-eat-term-color-21 {
    /* eat-term-color-21 */
    color: #0000FF;
    background-color: #0000FF;
}
.org-eat-term-color-210 {
    /* eat-term-color-210 */
    color: #FF8787;
    background-color: #FF8787;
}
.org-eat-term-color-211 {
    /* eat-term-color-211 */
    color: #FF87AF;
    background-color: #FF87AF;
}
.org-eat-term-color-212 {
    /* eat-term-color-212 */
    color: #FF87D7;
    background-color: #FF87D7;
}
.org-eat-term-color-213 {
    /* eat-term-color-213 */
    color: #FF87FF;
    background-color: #FF87FF;
}
.org-eat-term-color-214 {
    /* eat-term-color-214 */
    color: #FFAF00;
    background-color: #FFAF00;
}
.org-eat-term-color-215 {
    /* eat-term-color-215 */
    color: #FFAF5F;
    background-color: #FFAF5F;
}
.org-eat-term-color-216 {
    /* eat-term-color-216 */
    color: #FFAF87;
    background-color: #FFAF87;
}
.org-eat-term-color-217 {
    /* eat-term-color-217 */
    color: #FFAFAF;
    background-color: #FFAFAF;
}
.org-eat-term-color-218 {
    /* eat-term-color-218 */
    color: #FFAFD7;
    background-color: #FFAFD7;
}
.org-eat-term-color-219 {
    /* eat-term-color-219 */
    color: #FFAFFF;
    background-color: #FFAFFF;
}
.org-eat-term-color-22 {
    /* eat-term-color-22 */
    color: #005F00;
    background-color: #005F00;
}
.org-eat-term-color-220 {
    /* eat-term-color-220 */
    color: #FFD700;
    background-color: #FFD700;
}
.org-eat-term-color-221 {
    /* eat-term-color-221 */
    color: #FFD75F;
    background-color: #FFD75F;
}
.org-eat-term-color-222 {
    /* eat-term-color-222 */
    color: #FFD787;
    background-color: #FFD787;
}
.org-eat-term-color-223 {
    /* eat-term-color-223 */
    color: #FFD7AF;
    background-color: #FFD7AF;
}
.org-eat-term-color-224 {
    /* eat-term-color-224 */
    color: #FFD7D7;
    background-color: #FFD7D7;
}
.org-eat-term-color-225 {
    /* eat-term-color-225 */
    color: #FFD7FF;
    background-color: #FFD7FF;
}
.org-eat-term-color-226 {
    /* eat-term-color-226 */
    color: #FFFF00;
    background-color: #FFFF00;
}
.org-eat-term-color-227 {
    /* eat-term-color-227 */
    color: #FFFF5F;
    background-color: #FFFF5F;
}
.org-eat-term-color-228 {
    /* eat-term-color-228 */
    color: #FFFF87;
    background-color: #FFFF87;
}
.org-eat-term-color-229 {
    /* eat-term-color-229 */
    color: #FFFFAF;
    background-color: #FFFFAF;
}
.org-eat-term-color-23 {
    /* eat-term-color-23 */
    color: #005F5F;
    background-color: #005F5F;
}
.org-eat-term-color-230 {
    /* eat-term-color-230 */
    color: #FFFFD7;
    background-color: #FFFFD7;
}
.org-eat-term-color-231 {
    /* eat-term-color-231 */
    color: #FFFFFF;
    background-color: #FFFFFF;
}
.org-eat-term-color-232 {
    /* eat-term-color-232 */
    color: #080808;
    background-color: #080808;
}
.org-eat-term-color-233 {
    /* eat-term-color-233 */
    color: #121212;
    background-color: #121212;
}
.org-eat-term-color-234 {
    /* eat-term-color-234 */
    color: #1C1C1C;
    background-color: #1C1C1C;
}
.org-eat-term-color-235 {
    /* eat-term-color-235 */
    color: #262626;
    background-color: #262626;
}
.org-eat-term-color-236 {
    /* eat-term-color-236 */
    color: #303030;
    background-color: #303030;
}
.org-eat-term-color-237 {
    /* eat-term-color-237 */
    color: #3A3A3A;
    background-color: #3A3A3A;
}
.org-eat-term-color-238 {
    /* eat-term-color-238 */
    color: #444444;
    background-color: #444444;
}
.org-eat-term-color-239 {
    /* eat-term-color-239 */
    color: #4E4E4E;
    background-color: #4E4E4E;
}
.org-eat-term-color-24 {
    /* eat-term-color-24 */
    color: #005F87;
    background-color: #005F87;
}
.org-eat-term-color-240 {
    /* eat-term-color-240 */
    color: #585858;
    background-color: #585858;
}
.org-eat-term-color-241 {
    /* eat-term-color-241 */
    color: #626262;
    background-color: #626262;
}
.org-eat-term-color-242 {
    /* eat-term-color-242 */
    color: #6C6C6C;
    background-color: #6C6C6C;
}
.org-eat-term-color-243 {
    /* eat-term-color-243 */
    color: #767676;
    background-color: #767676;
}
.org-eat-term-color-244 {
    /* eat-term-color-244 */
    color: #808080;
    background-color: #808080;
}
.org-eat-term-color-245 {
    /* eat-term-color-245 */
    color: #8A8A8A;
    background-color: #8A8A8A;
}
.org-eat-term-color-246 {
    /* eat-term-color-246 */
    color: #949494;
    background-color: #949494;
}
.org-eat-term-color-247 {
    /* eat-term-color-247 */
    color: #9E9E9E;
    background-color: #9E9E9E;
}
.org-eat-term-color-248 {
    /* eat-term-color-248 */
    color: #A8A8A8;
    background-color: #A8A8A8;
}
.org-eat-term-color-249 {
    /* eat-term-color-249 */
    color: #B2B2B2;
    background-color: #B2B2B2;
}
.org-eat-term-color-25 {
    /* eat-term-color-25 */
    color: #005FAF;
    background-color: #005FAF;
}
.org-eat-term-color-250 {
    /* eat-term-color-250 */
    color: #BCBCBC;
    background-color: #BCBCBC;
}
.org-eat-term-color-251 {
    /* eat-term-color-251 */
    color: #C6C6C6;
    background-color: #C6C6C6;
}
.org-eat-term-color-252 {
    /* eat-term-color-252 */
    color: #D0D0D0;
    background-color: #D0D0D0;
}
.org-eat-term-color-253 {
    /* eat-term-color-253 */
    color: #DADADA;
    background-color: #DADADA;
}
.org-eat-term-color-254 {
    /* eat-term-color-254 */
    color: #E4E4E4;
    background-color: #E4E4E4;
}
.org-eat-term-color-255 {
    /* eat-term-color-255 */
    color: #EEEEEE;
    background-color: #EEEEEE;
}
.org-eat-term-color-26 {
    /* eat-term-color-26 */
    color: #005FD7;
    background-color: #005FD7;
}
.org-eat-term-color-27 {
    /* eat-term-color-27 */
    color: #005FFF;
    background-color: #005FFF;
}
.org-eat-term-color-28 {
    /* eat-term-color-28 */
    color: #008700;
    background-color: #008700;
}
.org-eat-term-color-29 {
    /* eat-term-color-29 */
    color: #00875F;
    background-color: #00875F;
}
.org-eat-term-color-3 {
    /* eat-term-color-3 */
    color: #d0bc00;
    background-color: #d0bc00;
}
.org-eat-term-color-30 {
    /* eat-term-color-30 */
    color: #008787;
    background-color: #008787;
}
.org-eat-term-color-31 {
    /* eat-term-color-31 */
    color: #0087AF;
    background-color: #0087AF;
}
.org-eat-term-color-32 {
    /* eat-term-color-32 */
    color: #0087D7;
    background-color: #0087D7;
}
.org-eat-term-color-33 {
    /* eat-term-color-33 */
    color: #0087FF;
    background-color: #0087FF;
}
.org-eat-term-color-34 {
    /* eat-term-color-34 */
    color: #00AF00;
    background-color: #00AF00;
}
.org-eat-term-color-35 {
    /* eat-term-color-35 */
    color: #00AF5F;
    background-color: #00AF5F;
}
.org-eat-term-color-36 {
    /* eat-term-color-36 */
    color: #00AF87;
    background-color: #00AF87;
}
.org-eat-term-color-37 {
    /* eat-term-color-37 */
    color: #00AFAF;
    background-color: #00AFAF;
}
.org-eat-term-color-38 {
    /* eat-term-color-38 */
    color: #00AFD7;
    background-color: #00AFD7;
}
.org-eat-term-color-39 {
    /* eat-term-color-39 */
    color: #00AFFF;
    background-color: #00AFFF;
}
.org-eat-term-color-4 {
    /* eat-term-color-4 */
    color: #2fafff;
    background-color: #2fafff;
}
.org-eat-term-color-40 {
    /* eat-term-color-40 */
    color: #00D700;
    background-color: #00D700;
}
.org-eat-term-color-41 {
    /* eat-term-color-41 */
    color: #00D75F;
    background-color: #00D75F;
}
.org-eat-term-color-42 {
    /* eat-term-color-42 */
    color: #00D787;
    background-color: #00D787;
}
.org-eat-term-color-43 {
    /* eat-term-color-43 */
    color: #00D7AF;
    background-color: #00D7AF;
}
.org-eat-term-color-44 {
    /* eat-term-color-44 */
    color: #00D7D7;
    background-color: #00D7D7;
}
.org-eat-term-color-45 {
    /* eat-term-color-45 */
    color: #00D7FF;
    background-color: #00D7FF;
}
.org-eat-term-color-46 {
    /* eat-term-color-46 */
    color: #00FF00;
    background-color: #00FF00;
}
.org-eat-term-color-47 {
    /* eat-term-color-47 */
    color: #00FF5F;
    background-color: #00FF5F;
}
.org-eat-term-color-48 {
    /* eat-term-color-48 */
    color: #00FF87;
    background-color: #00FF87;
}
.org-eat-term-color-49 {
    /* eat-term-color-49 */
    color: #00FFAF;
    background-color: #00FFAF;
}
.org-eat-term-color-5 {
    /* eat-term-color-5 */
    color: #feacd0;
    background-color: #feacd0;
}
.org-eat-term-color-50 {
    /* eat-term-color-50 */
    color: #00FFD7;
    background-color: #00FFD7;
}
.org-eat-term-color-51 {
    /* eat-term-color-51 */
    color: #00FFFF;
    background-color: #00FFFF;
}
.org-eat-term-color-52 {
    /* eat-term-color-52 */
    color: #5F0000;
    background-color: #5F0000;
}
.org-eat-term-color-53 {
    /* eat-term-color-53 */
    color: #5F005F;
    background-color: #5F005F;
}
.org-eat-term-color-54 {
    /* eat-term-color-54 */
    color: #5F0087;
    background-color: #5F0087;
}
.org-eat-term-color-55 {
    /* eat-term-color-55 */
    color: #5F00AF;
    background-color: #5F00AF;
}
.org-eat-term-color-56 {
    /* eat-term-color-56 */
    color: #5F00D7;
    background-color: #5F00D7;
}
.org-eat-term-color-57 {
    /* eat-term-color-57 */
    color: #5F00FF;
    background-color: #5F00FF;
}
.org-eat-term-color-58 {
    /* eat-term-color-58 */
    color: #5F5F00;
    background-color: #5F5F00;
}
.org-eat-term-color-59 {
    /* eat-term-color-59 */
    color: #5F5F5F;
    background-color: #5F5F5F;
}
.org-eat-term-color-6 {
    /* eat-term-color-6 */
    color: #00d3d0;
    background-color: #00d3d0;
}
.org-eat-term-color-60 {
    /* eat-term-color-60 */
    color: #5F5F87;
    background-color: #5F5F87;
}
.org-eat-term-color-61 {
    /* eat-term-color-61 */
    color: #5F5FAF;
    background-color: #5F5FAF;
}
.org-eat-term-color-62 {
    /* eat-term-color-62 */
    color: #5F5FD7;
    background-color: #5F5FD7;
}
.org-eat-term-color-63 {
    /* eat-term-color-63 */
    color: #5F5FFF;
    background-color: #5F5FFF;
}
.org-eat-term-color-64 {
    /* eat-term-color-64 */
    color: #5F8700;
    background-color: #5F8700;
}
.org-eat-term-color-65 {
    /* eat-term-color-65 */
    color: #5F875F;
    background-color: #5F875F;
}
.org-eat-term-color-66 {
    /* eat-term-color-66 */
    color: #5F8787;
    background-color: #5F8787;
}
.org-eat-term-color-67 {
    /* eat-term-color-67 */
    color: #5F87AF;
    background-color: #5F87AF;
}
.org-eat-term-color-68 {
    /* eat-term-color-68 */
    color: #5F87D7;
    background-color: #5F87D7;
}
.org-eat-term-color-69 {
    /* eat-term-color-69 */
    color: #5F87FF;
    background-color: #5F87FF;
}
.org-eat-term-color-7 {
    /* eat-term-color-7 */
    color: #a6a6a6;
    background-color: #a6a6a6;
}
.org-eat-term-color-70 {
    /* eat-term-color-70 */
    color: #5FAF00;
    background-color: #5FAF00;
}
.org-eat-term-color-71 {
    /* eat-term-color-71 */
    color: #5FAF5F;
    background-color: #5FAF5F;
}
.org-eat-term-color-72 {
    /* eat-term-color-72 */
    color: #5FAF87;
    background-color: #5FAF87;
}
.org-eat-term-color-73 {
    /* eat-term-color-73 */
    color: #5FAFAF;
    background-color: #5FAFAF;
}
.org-eat-term-color-74 {
    /* eat-term-color-74 */
    color: #5FAFD7;
    background-color: #5FAFD7;
}
.org-eat-term-color-75 {
    /* eat-term-color-75 */
    color: #5FAFFF;
    background-color: #5FAFFF;
}
.org-eat-term-color-76 {
    /* eat-term-color-76 */
    color: #5FD700;
    background-color: #5FD700;
}
.org-eat-term-color-77 {
    /* eat-term-color-77 */
    color: #5FD75F;
    background-color: #5FD75F;
}
.org-eat-term-color-78 {
    /* eat-term-color-78 */
    color: #5FD787;
    background-color: #5FD787;
}
.org-eat-term-color-79 {
    /* eat-term-color-79 */
    color: #5FD7AF;
    background-color: #5FD7AF;
}
.org-eat-term-color-8 {
    /* eat-term-color-8 */
    color: #595959;
    background-color: #595959;
}
.org-eat-term-color-80 {
    /* eat-term-color-80 */
    color: #5FD7D7;
    background-color: #5FD7D7;
}
.org-eat-term-color-81 {
    /* eat-term-color-81 */
    color: #5FD7FF;
    background-color: #5FD7FF;
}
.org-eat-term-color-82 {
    /* eat-term-color-82 */
    color: #5FFF00;
    background-color: #5FFF00;
}
.org-eat-term-color-83 {
    /* eat-term-color-83 */
    color: #5FFF5F;
    background-color: #5FFF5F;
}
.org-eat-term-color-84 {
    /* eat-term-color-84 */
    color: #5FFF87;
    background-color: #5FFF87;
}
.org-eat-term-color-85 {
    /* eat-term-color-85 */
    color: #5FFFAF;
    background-color: #5FFFAF;
}
.org-eat-term-color-86 {
    /* eat-term-color-86 */
    color: #5FFFD7;
    background-color: #5FFFD7;
}
.org-eat-term-color-87 {
    /* eat-term-color-87 */
    color: #5FFFFF;
    background-color: #5FFFFF;
}
.org-eat-term-color-88 {
    /* eat-term-color-88 */
    color: #870000;
    background-color: #870000;
}
.org-eat-term-color-89 {
    /* eat-term-color-89 */
    color: #87005F;
    background-color: #87005F;
}
.org-eat-term-color-9 {
    /* eat-term-color-9 */
    color: #ef8b50;
    background-color: #ef8b50;
}
.org-eat-term-color-90 {
    /* eat-term-color-90 */
    color: #870087;
    background-color: #870087;
}
.org-eat-term-color-91 {
    /* eat-term-color-91 */
    color: #8700AF;
    background-color: #8700AF;
}
.org-eat-term-color-92 {
    /* eat-term-color-92 */
    color: #8700D7;
    background-color: #8700D7;
}
.org-eat-term-color-93 {
    /* eat-term-color-93 */
    color: #8700FF;
    background-color: #8700FF;
}
.org-eat-term-color-94 {
    /* eat-term-color-94 */
    color: #875F00;
    background-color: #875F00;
}
.org-eat-term-color-95 {
    /* eat-term-color-95 */
    color: #875F5F;
    background-color: #875F5F;
}
.org-eat-term-color-96 {
    /* eat-term-color-96 */
    color: #875F87;
    background-color: #875F87;
}
.org-eat-term-color-97 {
    /* eat-term-color-97 */
    color: #875FAF;
    background-color: #875FAF;
}
.org-eat-term-color-98 {
    /* eat-term-color-98 */
    color: #875FD7;
    background-color: #875FD7;
}
.org-eat-term-color-99 {
    /* eat-term-color-99 */
    color: #875FFF;
    background-color: #875FFF;
}
.org-eat-term-italic {
    /* eat-term-italic */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-eldoc-highlight-function-argument {
    /* eldoc-highlight-function-argument */
    color: #d3b55f;
    background-color: #221000;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-elisp-shorthand-font-lock {
    /* elisp-shorthand-font-lock-face */
    color: #00d3d0;
}
.org-error {
    /* error */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-escape {
    /* font-lock-escape-face */
    color: #abab00;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #e7a59a;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #a8a8a8;
}
.org-fill-column-indicator {
    /* fill-column-indicator */
    color: #3c3c3c;
    background-color: #3c3c3c;
}
.org-fringe {
    /* fringe */
    color: #ffffff;
    background-color: #1e1e1e;
}
.org-function-call {
    /* font-lock-function-call-face */
    color: #feacd0;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #feacd0;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-header-line {
    /* header-line */
    color: #dddddd;
    background-color: #212121;
}
.org-header-line-highlight {
    /* header-line-highlight */
    color: #ffffff;
    background-color: #00415e;
}
.org-help-argument-name {
    /* help-argument-name */
    color: #00d3d0;
}
.org-help-for-help-header {
    /* help-for-help-header */
    font-size: 126%;
}
.org-help-key-binding {
    /* help-key-binding */
    color: #00bcff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-highlight {
    /* highlight */
    color: #ffffff;
    background-color: #00415e;
}
.org-holiday {
    /* holiday */
    color: #f78fe7;
    background-color: #230631;
}
.org-homoglyph {
    /* homoglyph */
    color: #f5aa80;
}
.org-icomplete-first-match {
    /* icomplete-first-match */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-icomplete-section {
    /* icomplete-section */
    color: #a8a8a8;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-icomplete-selected-match {
    /* icomplete-selected-match */
    background-color: #323232;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-icon {
}
.org-icon-button {
    /* icon-button */
    background-color: #323232;
}
.org-ido-first-match {
    /* ido-first-match */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-ido-incomplete-regexp {
    /* ido-incomplete-regexp */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-ido-indicator {
    /* ido-indicator */
    color: #e0e6f0;
    background-color: #604200;
}
.org-ido-only-match {
    /* ido-only-match */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-ido-subdir {
    /* ido-subdir */
    color: #2fafff;
}
.org-ido-virtual {
    /* ido-virtual */
    color: #b6a0ff;
}
.org-internal-border {
}
.org-isearch {
    /* isearch */
    color: #ffffff;
    background-color: #874900;
}
.org-isearch-fail {
    /* isearch-fail */
    color: #ffb9ab;
    background-color: #77002a;
}
.org-isearch-group-1 {
    /* isearch-group-1 */
    color: #8ecfff;
    background-color: #242679;
}
.org-isearch-group-2 {
    /* isearch-group-2 */
    color: #ffcaf0;
    background-color: #71206a;
}
.org-italic {
    /* italic */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #b6a0ff;
}
.org-lazy-highlight {
    /* lazy-highlight */
    color: #e0e6f0;
    background-color: #00415e;
}
.org-line-number {
    /* line-number */
    color: #a8a8a8;
    background-color: #100f10;
}
.org-link {
    /* link */
    color: #00bcff;
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    color: #b6a0ff;
    text-decoration: underline;
}
.org-marginalia-archive {
    /* marginalia-archive */
    color: #6ae4b9;
}
.org-marginalia-char {
    /* marginalia-char */
    color: #feacd0;
}
.org-marginalia-date {
    /* marginalia-date */
    color: #00d3d0;
}
.org-marginalia-documentation {
    /* marginalia-documentation */
    color: #b0d6f5;
}
.org-marginalia-file-name {
    /* marginalia-file-name */
    color: #82b0ec;
}
.org-marginalia-file-owner {
    /* marginalia-file-owner */
    color: #ffa0a0;
}
.org-marginalia-file-priv-dir {
    /* marginalia-file-priv-dir */
    color: #79a8ff;
}
.org-marginalia-file-priv-exec {
    /* marginalia-file-priv-exec */
    color: #f78fe7;
}
.org-marginalia-file-priv-link {
    /* marginalia-file-priv-link */
    color: #00bcff;
}
.org-marginalia-file-priv-no {
    /* marginalia-file-priv-no */
    color: #7f7f7f;
}
.org-marginalia-file-priv-other {
    /* marginalia-file-priv-other */
    color: #d0bc00;
}
.org-marginalia-file-priv-rare {
    /* marginalia-file-priv-rare */
    color: #ff8059;
}
.org-marginalia-file-priv-read {
    /* marginalia-file-priv-read */
    color: #ffffff;
}
.org-marginalia-file-priv-write {
    /* marginalia-file-priv-write */
    color: #00d3d0;
}
.org-marginalia-function {
    /* marginalia-function */
    color: #ef9fe4;
}
.org-marginalia-installed {
    /* marginalia-installed */
    color: #44bc44;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-marginalia-key {
    /* marginalia-key */
    color: #00bcff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-marginalia-lighter {
    /* marginalia-lighter */
    color: #79a8ff;
}
.org-marginalia-list {
    /* marginalia-list */
    color: #cfa6ff;
}
.org-marginalia-mode {
    /* marginalia-mode */
    color: #00d3d0;
}
.org-marginalia-modified {
    /* marginalia-modified */
    color: #ef9fe4;
}
.org-marginalia-null {
    /* marginalia-null */
    color: #a8a8a8;
}
.org-marginalia-number {
    /* marginalia-number */
    color: #00d3d0;
}
.org-marginalia-off {
    /* marginalia-off */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-marginalia-on {
    /* marginalia-on */
    color: #44bc44;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-marginalia-size {
    /* marginalia-size */
    color: #a4d0bb;
}
.org-marginalia-string {
    /* marginalia-string */
    color: #79a8ff;
}
.org-marginalia-symbol {
    /* marginalia-symbol */
    color: #80b2f0;
}
.org-marginalia-true {
    /* marginalia-true */
    color: #ffffff;
}
.org-marginalia-type {
    /* marginalia-type */
    color: #6ae4b9;
}
.org-marginalia-value {
    /* marginalia-value */
    color: #00d3d0;
}
.org-marginalia-version {
    /* marginalia-version */
    color: #00d3d0;
}
.org-match {
    /* match */
    color: #fbd6f4;
    background-color: #392a48;
}
.org-menu {
    /* menu */
    color: #ffffff;
    background-color: #323232;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #6ae4b9;
}
.org-misc-punctuation {
}
.org-mode-line {
    /* mode-line */
    color: #f4f4f4;
    background-color: #323232;
}
.org-mode-line-active {
    /* mode-line-active */
    color: #f4f4f4;
    background-color: #323232;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    color: #d5b1ff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-mode-line-highlight {
    /* mode-line-highlight */
    color: #ffffff;
    background-color: #00415e;
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #bfc0c4;
    background-color: #1e1e1e;
}
.org-modus-themes-active-blue {
    /* modus-themes-active-blue */
    color: #323232;
    background-color: #34cfff;
}
.org-modus-themes-active-cyan {
    /* modus-themes-active-cyan */
    color: #323232;
    background-color: #00d8b4;
}
.org-modus-themes-active-green {
    /* modus-themes-active-green */
    color: #323232;
    background-color: #70d73f;
}
.org-modus-themes-active-magenta {
    /* modus-themes-active-magenta */
    color: #323232;
    background-color: #d5b1ff;
}
.org-modus-themes-active-red {
    /* modus-themes-active-red */
    color: #323232;
    background-color: #ffa7ba;
}
.org-modus-themes-active-yellow {
    /* modus-themes-active-yellow */
    color: #323232;
    background-color: #dbbe5f;
}
.org-modus-themes-box-button {
    /* modus-themes-box-button */
    background-color: #323232;
}
.org-modus-themes-box-button-pressed {
    /* modus-themes-box-button-pressed */
    background-color: #323232;
}
.org-modus-themes-completion-match-0 {
    /* modus-themes-completion-match-0 */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-completion-match-1 {
    /* modus-themes-completion-match-1 */
    color: #2fafff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-completion-match-2 {
    /* modus-themes-completion-match-2 */
    color: #44bc44;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-completion-match-3 {
    /* modus-themes-completion-match-3 */
    color: #d0bc00;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-completion-selected {
    /* modus-themes-completion-selected */
    background-color: #323232;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-completion-selected-popup {
    /* modus-themes-completion-selected-popup */
    background-color: #3c3c3c;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-diff-added {
    /* modus-themes-diff-added */
    color: #b4ddb4;
    background-color: #1d3c25;
}
.org-modus-themes-diff-changed {
    /* modus-themes-diff-changed */
    color: #d0daaf;
    background-color: #424200;
}
.org-modus-themes-diff-focus-added {
    /* modus-themes-diff-focus-added */
    color: #b4ddb4;
    background-color: #1d3c25;
}
.org-modus-themes-diff-focus-changed {
    /* modus-themes-diff-focus-changed */
    color: #d0daaf;
    background-color: #424200;
}
.org-modus-themes-diff-focus-removed {
    /* modus-themes-diff-focus-removed */
    color: #eebdba;
    background-color: #601f29;
}
.org-modus-themes-diff-heading {
    /* modus-themes-diff-heading */
    color: #dae7ff;
    background-color: #304466;
}
.org-modus-themes-diff-refine-added {
    /* modus-themes-diff-refine-added */
    color: #e0f6e0;
    background-color: #005a36;
}
.org-modus-themes-diff-refine-changed {
    /* modus-themes-diff-refine-changed */
    color: #ffffcc;
    background-color: #585800;
}
.org-modus-themes-diff-refine-removed {
    /* modus-themes-diff-refine-removed */
    color: #ffd9eb;
    background-color: #852828;
}
.org-modus-themes-diff-removed {
    /* modus-themes-diff-removed */
    color: #eebdba;
    background-color: #601f29;
}
.org-modus-themes-fringe-blue {
    /* modus-themes-fringe-blue */
    color: #ffffff;
    background-color: #3f33af;
}
.org-modus-themes-fringe-cyan {
    /* modus-themes-fringe-cyan */
    color: #ffffff;
    background-color: #004f8f;
}
.org-modus-themes-fringe-green {
    /* modus-themes-fringe-green */
    color: #ffffff;
    background-color: #006700;
}
.org-modus-themes-fringe-magenta {
    /* modus-themes-fringe-magenta */
    color: #ffffff;
    background-color: #6f2f89;
}
.org-modus-themes-fringe-red {
    /* modus-themes-fringe-red */
    color: #ffffff;
    background-color: #8f1f4b;
}
.org-modus-themes-fringe-yellow {
    /* modus-themes-fringe-yellow */
    color: #ffffff;
    background-color: #6f4f00;
}
.org-modus-themes-grue {
    /* modus-themes-grue */
    color: #44bc44;
}
.org-modus-themes-grue-active {
    /* modus-themes-grue-active */
    color: #70d73f;
}
.org-modus-themes-grue-background-active {
    /* modus-themes-grue-background-active */
    color: #ffffff;
    background-color: #006700;
}
.org-modus-themes-grue-background-intense {
    /* modus-themes-grue-background-intense */
    color: #ffffff;
    background-color: #006800;
}
.org-modus-themes-grue-background-subtle {
    /* modus-themes-grue-background-subtle */
    color: #e0e6f0;
    background-color: #2f4a00;
}
.org-modus-themes-grue-nuanced {
    /* modus-themes-grue-nuanced */
    color: #b8e2b8;
}
.org-modus-themes-heading-0 {
    /* modus-themes-heading-0 */
    color: #6ae4b9;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-1 {
    /* modus-themes-heading-1 */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-2 {
    /* modus-themes-heading-2 */
    color: #f8dec0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-3 {
    /* modus-themes-heading-3 */
    color: #c6eaff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-4 {
    /* modus-themes-heading-4 */
    color: #bfebe0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-5 {
    /* modus-themes-heading-5 */
    color: #fbd6f4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-6 {
    /* modus-themes-heading-6 */
    color: #dfdfb0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-7 {
    /* modus-themes-heading-7 */
    color: #ffcccc;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-heading-8 {
    /* modus-themes-heading-8 */
    color: #e5cfef;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-hl-line {
    /* modus-themes-hl-line */
    background-color: #292929;
}
.org-modus-themes-intense-blue {
    /* modus-themes-intense-blue */
    color: #ffffff;
    background-color: #2a40b8;
}
.org-modus-themes-intense-cyan {
    /* modus-themes-intense-cyan */
    color: #ffffff;
    background-color: #005f88;
}
.org-modus-themes-intense-green {
    /* modus-themes-intense-green */
    color: #ffffff;
    background-color: #006800;
}
.org-modus-themes-intense-magenta {
    /* modus-themes-intense-magenta */
    color: #ffffff;
    background-color: #7042a2;
}
.org-modus-themes-intense-neutral {
    /* modus-themes-intense-neutral */
    color: #ffffff;
    background-color: #323232;
}
.org-modus-themes-intense-red {
    /* modus-themes-intense-red */
    color: #ffffff;
    background-color: #a4202a;
}
.org-modus-themes-intense-yellow {
    /* modus-themes-intense-yellow */
    color: #ffffff;
    background-color: #874900;
}
.org-modus-themes-lang-error {
    /* modus-themes-lang-error */
    text-decoration: underline;
}
.org-modus-themes-lang-note {
    /* modus-themes-lang-note */
    text-decoration: underline;
}
.org-modus-themes-lang-warning {
    /* modus-themes-lang-warning */
    text-decoration: underline;
}
.org-modus-themes-link-broken {
    /* modus-themes-link-broken */
    color: #ff8059;
    text-decoration: underline;
}
.org-modus-themes-link-symlink {
    /* modus-themes-link-symlink */
    color: #00d3d0;
    text-decoration: underline;
}
.org-modus-themes-mark-alt {
    /* modus-themes-mark-alt */
    color: #f0aa20;
    background-color: #3f2210;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-mark-del {
    /* modus-themes-mark-del */
    color: #ff99aa;
    background-color: #5a0000;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-mark-sel {
    /* modus-themes-mark-sel */
    color: #60cfa2;
    background-color: #002f2f;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-mark-symbol {
    /* modus-themes-mark-symbol */
    color: #79a8ff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-markup-code {
    /* modus-themes-markup-code */
    color: #6ae4b9;
}
.org-modus-themes-markup-macro {
    /* modus-themes-markup-macro */
    color: #b6a0ff;
}
.org-modus-themes-markup-verbatim {
    /* modus-themes-markup-verbatim */
    color: #f78fe7;
}
.org-modus-themes-nuanced-blue {
    /* modus-themes-nuanced-blue */
    background-color: #0f0e39;
}
.org-modus-themes-nuanced-cyan {
    /* modus-themes-nuanced-cyan */
    background-color: #041529;
}
.org-modus-themes-nuanced-green {
    /* modus-themes-nuanced-green */
    background-color: #001904;
}
.org-modus-themes-nuanced-magenta {
    /* modus-themes-nuanced-magenta */
    background-color: #230631;
}
.org-modus-themes-nuanced-red {
    /* modus-themes-nuanced-red */
    background-color: #2c0614;
}
.org-modus-themes-nuanced-yellow {
    /* modus-themes-nuanced-yellow */
    background-color: #221000;
}
.org-modus-themes-prompt {
    /* modus-themes-prompt */
    color: #6ae4b9;
}
.org-modus-themes-pseudo-header {
    /* modus-themes-pseudo-header */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-refine-blue {
    /* modus-themes-refine-blue */
    color: #8ecfff;
    background-color: #242679;
}
.org-modus-themes-refine-cyan {
    /* modus-themes-refine-cyan */
    color: #8ae4f2;
    background-color: #004065;
}
.org-modus-themes-refine-green {
    /* modus-themes-refine-green */
    color: #9ff0cf;
    background-color: #00422a;
}
.org-modus-themes-refine-magenta {
    /* modus-themes-refine-magenta */
    color: #ffcaf0;
    background-color: #71206a;
}
.org-modus-themes-refine-red {
    /* modus-themes-refine-red */
    color: #ffb9ab;
    background-color: #77002a;
}
.org-modus-themes-refine-yellow {
    /* modus-themes-refine-yellow */
    color: #e2d980;
    background-color: #693200;
}
.org-modus-themes-reset-soft {
    /* modus-themes-reset-soft */
    color: #ffffff;
    background-color: #000000;
}
.org-modus-themes-search-success {
    /* modus-themes-search-success */
    color: #ffffff;
    background-color: #874900;
}
.org-modus-themes-search-success-lazy {
    /* modus-themes-search-success-lazy */
    color: #e0e6f0;
    background-color: #00415e;
}
.org-modus-themes-search-success-modeline {
    /* modus-themes-search-success-modeline */
    color: #70d73f;
}

.org-modus-themes-special-calm {
    /* modus-themes-special-calm */
    color: #fbd6f4;
    background-color: #392a48;
}
.org-modus-themes-special-cold {
    /* modus-themes-special-cold */
    color: #c6eaff;
    background-color: #203448;
}
.org-modus-themes-special-mild {
    /* modus-themes-special-mild */
    color: #bfebe0;
    background-color: #00322e;
}
.org-modus-themes-special-warm {
    /* modus-themes-special-warm */
    color: #f8dec0;
    background-color: #382f27;
}
.org-modus-themes-subtle-blue {
    /* modus-themes-subtle-blue */
    color: #e0e6f0;
    background-color: #10387c;
}
.org-modus-themes-subtle-cyan {
    /* modus-themes-subtle-cyan */
    color: #e0e6f0;
    background-color: #00415e;
}
.org-modus-themes-subtle-green {
    /* modus-themes-subtle-green */
    color: #e0e6f0;
    background-color: #2f4a00;
}
.org-modus-themes-subtle-magenta {
    /* modus-themes-subtle-magenta */
    color: #e0e6f0;
    background-color: #49366e;
}
.org-modus-themes-subtle-neutral {
    /* modus-themes-subtle-neutral */
    color: #bfc0c4;
    background-color: #1e1e1e;
}
.org-modus-themes-subtle-red {
    /* modus-themes-subtle-red */
    color: #e0e6f0;
    background-color: #762422;
}
.org-modus-themes-subtle-yellow {
    /* modus-themes-subtle-yellow */
    color: #e0e6f0;
    background-color: #604200;
}
.org-modus-themes-tab-active {
    /* modus-themes-tab-active */
    background-color: #0e0e0e;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-modus-themes-tab-backdrop {
    /* modus-themes-tab-backdrop */
    background-color: #323232;
}
.org-modus-themes-tab-inactive {
    /* modus-themes-tab-inactive */
    color: #e0e6f0;
    background-color: #424242;
}
.org-mouse-drag-and-drop-region {
    /* mouse-drag-and-drop-region */
    color: #ffffff;
    background-color: #3c3c3c;
}
.org-negation-char {
    /* font-lock-negation-char-face */
    color: #d0bc00;
}
.org-next-error {
    /* next-error */
    color: #e0e6f0;
    background-color: #762422;
}
.org-next-error-message {
    /* next-error-message */
    color: #ffffff;
    background-color: #00415e;
}
.org-nobreak-hyphen {
    /* nobreak-hyphen */
    color: #e7a59a;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #e7a59a;
    text-decoration: underline;
}
.org-org-agenda-calendar-daterange {
    /* org-agenda-calendar-daterange */
    color: #ffffff;
    background-color: #000000;
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #a8a8a8;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #a8a8a8;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    color: #ef8b50;
    background-color: #221000;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    background-color: #191a1b;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #80b2f0;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #00d3d0;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #00d3d0;
    background-color: #203448;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #a4d0bb;
}
.org-org-agenda-date-weekend-today {
    /* org-agenda-date-weekend-today */
    color: #a4d0bb;
    background-color: #203448;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #a8a8a8;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    color: #a8a8a8;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #b8e2b8;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #00d8b4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-agenda-filter-effort {
    /* org-agenda-filter-effort */
    color: #00d8b4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-agenda-filter-regexp {
    /* org-agenda-filter-regexp */
    color: #00d8b4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #00d8b4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    color: #e0e6f0;
    background-color: #100f10;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #79a8ff;
    font-size: 114%;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-agenda-structure-filter {
    /* org-agenda-structure-filter */
    color: #d0bc00;
    font-size: 114%;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-agenda-structure-secondary {
    /* org-agenda-structure-secondary */
    color: #00d3d0;
}
.org-org-archived {
    /* org-archived */
    color: #a8a8a8;
    background-color: #191a1b;
}
.org-org-block {
    /* org-block */
    color: #ffffff;
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #a8a8a8;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #a8a8a8;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #d3b55f;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #44bc44;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #ff8059;
}
.org-org-cite {
    /* org-cite */
    color: #00bcff;
    text-decoration: underline;
}
.org-org-cite-key {
    /* org-cite-key */
    color: #00bcff;
    text-decoration: underline;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    color: #f5aa80;
    background-color: #221000;
}
.org-org-code {
    /* org-code */
    color: #6ae4b9;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #79a8ff;
}
.org-org-default {
    /* org-default */
    color: #ffffff;
    background-color: #000000;
}
.org-org-document-info {
    /* org-document-info */
    color: #c6eaff;
}
.org-org-document-title {
    /* org-document-title */
    color: #6ae4b9;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-done {
    /* org-done */
    color: #44bc44;
}
.org-org-ellipsis {
}
.org-org-footnote {
    /* org-footnote */
    color: #79a8ff;
    text-decoration: underline;
}
.org-org-formula {
    /* org-formula */
    color: #ef8b50;
}
.org-org-headline-todo {
    /* org-headline-todo */
    color: #ffcccc;
}
.org-org-hide {
    /* org-hide */
    color: #000000;
}
.org-org-imminent-deadline {
    /* org-imminent-deadline */
    color: #fe6060;
}
.org-org-inline-src-block {
    /* org-inline-src-block */
    color: #ffffff;
}
.org-org-latex-and-related {
    /* org-latex-and-related */
    color: #e0b2d6;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #f8dec0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #c6eaff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #bfebe0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #fbd6f4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #dfdfb0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #ffcccc;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #e5cfef;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-link {
    /* org-link */
    color: #00bcff;
    text-decoration: underline;
}
.org-org-list-dt {
    /* org-list-dt */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-macro {
    /* org-macro */
    color: #b6a0ff;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #ffffff;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #ffa7ba;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-priority {
    /* org-priority */
    color: #feacd0;
}
.org-org-property-value {
    /* org-property-value */
    color: #c6eaff;
}
.org-org-quote {
    /* org-quote */
    color: #c6eaff;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #d2b580;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #d0bc00;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #d0bc00;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #6ae4b9;
}
.org-org-table {
    /* org-table */
    color: #c6eaff;
}
.org-org-table-row {
    /* org-table-row */
    color: #c6eaff;
}
.org-org-tag {
    /* org-tag */
    color: #e5cfef;
}
.org-org-tag-group {
    /* org-tag-group */
    color: #a8e5e5;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #a8a8a8;
}
.org-org-todo {
    /* org-todo */
    color: #ff8059;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #ff9077;
}
.org-org-upcoming-distant-deadline {
    /* org-upcoming-distant-deadline */
    color: #ffa0a0;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #f78fe7;
}
.org-org-verse {
    /* org-verse */
    color: #c6eaff;
}
.org-org-warning {
    /* org-warning */
    color: #ff9077;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-1 {
    /* outline-1 */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-2 {
    /* outline-2 */
    color: #f8dec0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-3 {
    /* outline-3 */
    color: #c6eaff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-4 {
    /* outline-4 */
    color: #bfebe0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-5 {
    /* outline-5 */
    color: #fbd6f4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-6 {
    /* outline-6 */
    color: #dfdfb0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-7 {
    /* outline-7 */
    color: #ffcccc;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-outline-8 {
    /* outline-8 */
    color: #e5cfef;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-package-description {
    /* package-description */
    color: #c6eaff;
}
.org-package-help-section-name {
    /* package-help-section-name */
    color: #00d3d0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-package-name {
    /* package-name */
    color: #00bcff;
    text-decoration: underline;
}
.org-package-status-avail-obso {
    /* package-status-avail-obso */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-package-status-available {
    /* package-status-available */
    color: #6ae4b9;
}
.org-package-status-built-in {
    /* package-status-built-in */
    color: #feacd0;
}
.org-package-status-dependency {
    /* package-status-dependency */
    color: #b6a0ff;
}
.org-package-status-disabled {
    /* package-status-disabled */
    color: #e0e6f0;
    background-color: #762422;
}
.org-package-status-external {
    /* package-status-external */
    color: #6ae4b9;
}
.org-package-status-from-source {
    /* package-status-from-source */
    color: #d0bc00;
}
.org-package-status-held {
    /* package-status-held */
    color: #c0c530;
}
.org-package-status-incompat {
    /* package-status-incompat */
    color: #d0bc00;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-package-status-installed {
    /* package-status-installed */
    color: #f8dec0;
}
.org-package-status-new {
    /* package-status-new */
    color: #44bc44;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-package-status-unsigned {
    /* package-status-unsigned */
    color: #ff8059;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #ff9077;
}
.org-property-name {
    /* font-lock-property-name-face */
    color: #00d3d0;
}
.org-property-use {
    /* font-lock-property-use-face */
    color: #00d3d0;
}
.org-punctuation {
}
.org-query-replace {
    /* query-replace */
    color: #ffffff;
    background-color: #a4202a;
}
.org-rectangle-preview {
    /* rectangle-preview */
    color: #f8dec0;
    background-color: #382f27;
}
.org-regexp {
    /* font-lock-regexp-face */
    color: #79a8ff;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #abab00;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #e7a59a;
}
.org-region {
    /* region */
    color: #ffffff;
    background-color: #3c3c3c;
}
.org-secondary-selection {
    /* secondary-selection */
    color: #c6eaff;
    background-color: #203448;
}
.org-separator-line {
    /* separator-line */
    text-decoration: underline;
}
.org-sh-escaped-newline {
    /* sh-escaped-newline */
    color: #79a8ff;
}
.org-sh-heredoc {
    /* sh-heredoc */
    color: #79a8ff;
}
.org-sh-quoted-exec {
    /* sh-quoted-exec */
    color: #f78fe7;
}
.org-shadow {
    /* shadow */
    color: #a8a8a8;
}
.org-show-paren-match {
    /* show-paren-match */
    color: #ffffff;
    background-color: #6f3355;
}
.org-show-paren-match-expression {
    /* show-paren-match-expression */
    background-color: #221044;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #ffffff;
    background-color: #a4202a;
}
.org-shr-abbreviation {
    /* shr-abbreviation */
    text-decoration: underline;
}
.org-shr-code {
    /* shr-code */
    color: #f78fe7;
}
.org-shr-h1 {
    /* shr-h1 */
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-shr-h2 {
    /* shr-h2 */
    color: #f8dec0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-shr-h3 {
    /* shr-h3 */
    color: #c6eaff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-shr-h4 {
    /* shr-h4 */
    color: #bfebe0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-shr-h5 {
    /* shr-h5 */
    color: #fbd6f4;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-shr-h6 {
    /* shr-h6 */
    color: #dfdfb0;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-shr-link {
    /* shr-link */
    color: #00bcff;
    text-decoration: underline;
}
.org-shr-mark {
    /* shr-mark */
    color: #000000;
    background-color: #ffff00;
}
.org-shr-selected-link {
    /* shr-selected-link */
    color: #e0e6f0;
    background-color: #762422;
}
.org-shr-strike-through {
    /* shr-strike-through */
    text-decoration: line-through;
}
.org-shr-sup {
    /* shr-sup */
    font-size: 80%;
}
.org-shr-text {
    /* shr-text */
    font-size: 110%;
}
.org-spray-accent {
    /* spray-accent-face */
    color: #ff0000;
    background-color: #000000;
}
.org-spray-base {
    /* spray-base-face */
    color: #ffffff;
    background-color: #000000;
}
.org-string {
    /* font-lock-string-face */
    color: #79a8ff;
}
.org-tab-bar {
    /* tab-bar */
    background-color: #323232;
}
.org-tab-bar-tab {
    /* tab-bar-tab */
    background-color: #0e0e0e;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-tab-bar-tab-group-current {
    /* tab-bar-tab-group-current */
    background-color: #0e0e0e;
}
.org-tab-bar-tab-group-inactive {
    /* tab-bar-tab-group-inactive */
    color: #e0e6f0;
    background-color: #424242;
}
.org-tab-bar-tab-inactive {
    /* tab-bar-tab-inactive */
    color: #e0e6f0;
    background-color: #424242;
}
.org-tab-line {
    /* tab-line */
    background-color: #323232;
    font-size: 95%;
}
.org-table-cell {
    /* table-cell */
    background-color: #0f0e39;
}
.org-tabulated-list-fake-header {
    /* tabulated-list-fake-header */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
    text-decoration: underline;
    text-decoration: overline;
}
.org-term {
    /* term */
    color: #ffffff;
    background-color: #000000;
}
.org-term-bold {
    /* term-bold */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-term-color-black {
    /* term-color-black */
    color: #595959;
    background-color: #595959;
}
.org-term-color-blue {
    /* term-color-blue */
    color: #2fafff;
    background-color: #2fafff;
}
.org-term-color-bright-black {
    /* term-color-bright-black */
    color: #595959;
    background-color: #595959;
}
.org-term-color-bright-blue {
    /* term-color-bright-blue */
    color: #79a8ff;
    background-color: #79a8ff;
}
.org-term-color-bright-cyan {
    /* term-color-bright-cyan */
    color: #6ae4b9;
    background-color: #6ae4b9;
}
.org-term-color-bright-green {
    /* term-color-bright-green */
    color: #00c06f;
    background-color: #00c06f;
}
.org-term-color-bright-magenta {
    /* term-color-bright-magenta */
    color: #b6a0ff;
    background-color: #b6a0ff;
}
.org-term-color-bright-red {
    /* term-color-bright-red */
    color: #ef8b50;
    background-color: #ef8b50;
}
.org-term-color-bright-white {
    /* term-color-bright-white */
    color: #ffffff;
    background-color: #ffffff;
}
.org-term-color-bright-yellow {
    /* term-color-bright-yellow */
    color: #c0c530;
    background-color: #c0c530;
}
.org-term-color-cyan {
    /* term-color-cyan */
    color: #00d3d0;
    background-color: #00d3d0;
}
.org-term-color-green {
    /* term-color-green */
    color: #44bc44;
    background-color: #44bc44;
}
.org-term-color-magenta {
    /* term-color-magenta */
    color: #feacd0;
    background-color: #feacd0;
}
.org-term-color-red {
    /* term-color-red */
    color: #ff8059;
    background-color: #ff8059;
}
.org-term-color-white {
    /* term-color-white */
    color: #a6a6a6;
    background-color: #a6a6a6;
}
.org-term-color-yellow {
    /* term-color-yellow */
    color: #d0bc00;
    background-color: #d0bc00;
}
.org-term-italic {
    /* term-italic */
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Italic", Roboto, "Iosevka Term Italic", Arial, "Iosevka Term Italic", sans-serif;;
}
.org-term-underline {
    /* term-underline */
    text-decoration: underline;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tooltip {
    /* tooltip */
    color: #ffffff;
    background-color: #203448;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #a4202a;
}
.org-treesit-explorer-anonymous-node {
    /* treesit-explorer-anonymous-node */
    color: #a8a8a8;
}
.org-treesit-explorer-field-name {
}
.org-tty-menu-disabled {
    /* tty-menu-disabled-face */
    color: #a8a8a8;
    background-color: #191a1b;
}
.org-tty-menu-enabled {
    /* tty-menu-enabled-face */
    color: #ffffff;
    background-color: #191a1b;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-tty-menu-selected {
    /* tty-menu-selected-face */
    color: #ffffff;
    background-color: #2a40b8;
}
.org-type {
    /* font-lock-type-face */
    color: #6ae4b9;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #00d3d0;
}
.org-variable-pitch {
}
.org-variable-pitch-text {
    /* variable-pitch-text */
    font-size: 110%;
}
.org-variable-use {
    /* font-lock-variable-use-face */
    color: #00d3d0;
}
.org-vc-conflict-state {
    /* vc-conflict-state */
    color: #ffa7ba;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-vc-edited-state {
    /* vc-edited-state */
    color: #dbbe5f;
}
.org-vc-locally-added-state {
    /* vc-locally-added-state */
    color: #00d8b4;
}
.org-vc-locked-state {
    /* vc-locked-state */
    color: #34cfff;
}
.org-vc-missing-state {
    /* vc-missing-state */
    color: #d5b1ff;
}
.org-vc-needs-update-state {
    /* vc-needs-update-state */
    color: #70d73f;
}
.org-vc-removed-state {
    /* vc-removed-state */
    color: #ffa7ba;
}
.org-vc-state-base {
    /* vc-state-base */
    color: #f4f4f4;
}
.org-vc-up-to-date-state {
    /* vc-up-to-date-state */
    color: #c6eaff;
}
.org-vertical-border {
    /* vertical-border */
    color: #646464;
}
.org-warning {
    /* warning */
    color: #d0bc00;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #d0bc00;
}
.org-widget-button {
    /* widget-button */
    color: #79a8ff;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-widget-button-pressed {
    /* widget-button-pressed */
    color: #f78fe7;
    font-family: -apple-system, BlinkMacSystemFont, "Iosevka Term Bold", Roboto, "Iosevka Term Bold", Arial, "Iosevka Term Bold", sans-serif;
}
.org-widget-documentation {
    /* widget-documentation */
    color: #44bc44;
}
.org-widget-field {
    /* widget-field */
    color: #ffffff;
    background-color: #191a1b;
}
.org-widget-inactive {
    /* widget-inactive */
    color: #a8a8a8;
    background-color: #100f10;
}
.org-widget-single-line-field {
    /* widget-single-line-field */
    color: #ffffff;
    background-color: #191a1b;
}
.org-window-divider {
    /* window-divider */
    color: #646464;
}
.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    color: #969696;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    color: #969696;
}
